.cardBody {
    font-family: Roboto;
    width: '259px';
    min-height: '146px';
    padding: 14px 21px 24px 16px;
    margin: 0 8px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}
.cardType {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: left;
    background: #CAD1EB;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 10px;
}